/// Background color for dropdowns.
///
/// @type Color
$dropdownmenu-background: $white !default;

/// Border for dropdown sub-menus.
///
/// @type List
$dropdownmenu-border: 1px solid $grey !default;

/// Minimum width of dropdown sub-menus.
///
/// @type Length
$dropdownmenu-min-width: 200px !default;

@mixin dropdown-menu-base {

  > li {
    position: relative;

    &.is-active > .menu { display: inline-block; }
  }
}

@mixin dropdown-menu-style(
  $background: $dropdownmenu-background,
  $border: $dropdownmenu-border,
  $min-width: $dropdownmenu-min-width
) {
  background: $background;
  border: $border;
  display: none;
  position: absolute;
  min-width: $min-width;
  z-index: 1;
}

@mixin dropdown-menu-direction($direction: horizontal) {
  @if ($direction == horizontal) {

    > li {

      &.opens-left {

        > .menu {
          left: 0;
          top: 100%;
        }
      }
    }
  } @else if ($direction == vertical) {

    > li {

      &.opens-left {

        > .menu {
          top: 0;
          left: 100%;
        }
      }
    }
  }

  /*> li {
      position: relative;

      &.opens-up > .menu {
        right: auto;
        bottom: 100%;
      }

      &.opens-down > .menu {
        right: auto;
        top: 100%;
      }

      &.opens-left > .menu {
        top: 0;
        right: 100%;
      }

      &.opens-right > .menu {
        top: 0;
        left: 100%;
      }
    }*/
}

@mixin dropdown-menu() {
  .dropdown.menu {
    @include dropdown-menu-base;
    @include dropdown-menu-direction(horizontal);

    &.vertical {
      @include dropdown-menu-direction(vertical);
    }

    .menu {
      @include dropdown-menu-style;
    }
  }
}
