/// Padding for dropdown panes.
/// @type List
$dropdown-padding: rem-calc(16) !default;

/// Background for dropdown panes.
/// @type Color
$dropdown-background: $white !default;

/// Border for dropdown panes.
/// @type List
$dropdown-border: 1px solid $primary-color !default;

/// Font size for dropdown panes.
/// @type List
$dropdown-font-size: rem-calc(16) !default;

/// Width for dropdown panes.
/// @type Number
$dropdown-width: 300px !default;

/// Border radius dropdown panes.
/// @type Number
$dropdown-radius: $base-radius !default;

@mixin dropdown {

  .dropdown:not(.menu){
    display: inline-block;
    position: relative;

    //> button,
    //> .button {
    //
    //  &:after {
    //    @include icon-base;
    //    content: '\e883';
    //  }
    //}

    > .dropdown-content {
      position: absolute;
      z-index: 10;

      display: none;
      width: $dropdown-width;
      padding: $dropdown-padding;

      border: $dropdown-border;
      border-radius: $dropdown-radius;
      background-color: $dropdown-background;

      font-size: $dropdown-font-size;
    }

    &.opens-up > .dropdown-content {
      bottom: 100%;
    }

    &.opens-down > .dropdown-content {
      top: 100%;
    }

    &.is-active {
      //> button,
      //> .button {
      //
      //  &:after {
      //    content: '\e886';
      //  }
      //}

      > .dropdown-content {
        display: block;
        top: 100%;

        &.dropdown-right {
          right: 0;
        }
      }
    }
  }
}
