/// Global spacing for form elements.
///
/// @type Number
$form-spacing: $base-margin !default;

/// Background color of text inputs.
///
/// @type Color
$input-background: $white !default;

/// Background color of focused of text inputs.
///
/// @type Color
$input-background-focus: $white !default;

/// Font color of text inputs.
///
/// @type Color
$input-color: $black !default;

/// Border around text inputs.
///
/// @type Border
$input-border: 1px solid $grey !default;

/// Border around focused text inputs.
///
/// @type Color
$input-border-focus: 1px solid $primary-color !default;

/// Radius for text inputs.
///
/// @type Border
$input-radius: $base-radius !default;

/// Font family of text inputs.
///
/// @type Font
$input-font-family: inherit !default;

/// Font size of text inputs.
///
/// @type Number
$input-font-size: rem-calc(16) !default;

/// Font weight of text inputs.
///
/// @type Keyword | Number
$input-font-weight: $base-font-weight-normal !default;

/// Line height of text inputs.
///
/// @type Number
$input-line-height: 1.5 !default;

/// Padding of text inputs.
///
/// @type Number
$input-padding: $form-spacing / 2 !default;

/// Box shadow inside text inputs when not focused.
///
/// @type Shadow
$input-shadow: unset !default;

/// Box shadow outside text inputs when focused.
///
/// @type Shadow
$input-shadow-focus: unset !default;

/// Properties to transition on text inputs.
///
/// @type Transition
$input-transition: border-color .2s ease-in-out !default;

/// Font color of placeholder text within text inputs.
///
/// @type Color
$input-placeholder-color: $grey !default;

/// Background color of disabled text inputs.
///
/// @type Color
$input-background-disabled: inherit !default;

/// Cursor to use when hovering over a disabled text input.
///
/// @type Cursor
$input-cursor-disabled: not-allowed !default;

// Opacity value of disabled text inputs.
//
// @type Number
$input-opacity-disabled: $base-opacity-disabled !default;

/// Background color for select menus.
///
/// @type Color
$select-background: $input-background !default;

/// Color of the dropdown triangle inside select menus. Set to `transparent` to remove it entirely.
///
/// @type Color
$select-triangle-color: $grey !default;

/// Default radius for select menus.
///
/// @type Color
// @todo Can be removed, maybe. Because we should use same radius value everywhere.
$select-radius: $input-radius !default;

/// Color for help text.
///
/// @type Color
$help-text-color: $black !default;

/// Font size for help text.
///
/// @type Number
$help-text-font-size: rem-calc(13) !default;

/// Font style for help text.
///
/// @type Keyword
$help-text-font-style: italic !default;

/// Margin for help text.
///
/// @type Number
$help-text-margin: $form-spacing / 2;

/// Font weight for help text.
///
/// @type Keyword | Number
$help-text-font-weight: $base-font-weight-normal !default;

/// Color for error text.
///
/// @type Color
$error-text-color: $danger-color !default;

/// Font size for error text.
///
/// @type Number
$error-text-font-size: rem-calc(13) !default;

/// Font style for error text.
///
/// @type Keyword
$error-text-font-style: italic !default;

/// Font weight for error text.
///
/// @type Keyword | Number
$error-text-font-weight: $base-font-weight-normal !default;

/// Font style for success text.
///
/// @type Color
$success-text-color: $success-color !default;

/// @type Number
$toggle-label-gutter: rem-calc(70) !default;

/// @type Color
$toggle-background: $grey !default;

/// @type Color
$toggle-background-checked: $primary-color !default;

/// @type Number
$toggle-height: rem-calc(25);

/// @type Number
$toggle-width: rem-calc(60);

/// @type Number
$toggle-button-factor: 1.1 !default;

/// @type Number
$toggle-button-height: $toggle-height * $toggle-button-factor !default;

/// @type Number
$toggle-button-width: $toggle-button-height !default;

/// @type Color
$toggle-button-background: linear-gradient(transparent, rgba($black, .05)) $white !default;

// @type Shadow
$toggle-button-shadow: 0 0 2px 0 rgba($black, .25) !default;

/// @type List
$toggle-transition: background .2s ease-in, left .2s ease-in !default;

$input-group-label-background: $grey !default;

$input-group-label-padding: 0 $form-spacing !default;

/// Adds a downward-facing triangle as a background image to an element. The image is formatted as an SVG, making it easy to change the color.
///
/// @param {Color} $color [$black] - Color to use for the triangle.
/// @param {Keyword|List} $size [9px 6px] - Size to use for the triangle.
@mixin background-triangle($color: $black, $size: 9px 6px) {
  $svg: "<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: #{color-to-rgb($color)}'></polygon></svg>";

  background-image: url(svg-encode($svg));
  background-size: $size;
    }

/// Adds a check as a background image to an element. The image is formatted as an SVG, making it easy to change the color.
///
/// @param {Color} $color [$black] - Color to use for the check image.
@mixin background-check($color: $black, $size: 15px 15px) {
  $svg: "<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='9' height='6' viewBox='0 0 15 15'><path d='M5.8,11.5c-0.2,0-0.4-0.1-0.6-0.3L2.3,8.4C1.9,8,1.9,7.5,2.3,7.1c0.3-0.3,0.9-0.3,1.2,0l2.3,2.3l5.7-5.7 c0.3-0.3,0.9-0.3,1.2,0c0.3,0.3,0.3,0.9,0,1.2l-6.3,6.3C6.2,11.5,6,11.5,5.8,11.5z' style='fill: #{color-to-rgb($color)}'/></svg>";

  background-image: url(svg-encode($svg));
  background-size: $size;
}

/// Adds a minus icon as a background image to an element. The image is formatted as an SVG, marking it easy to change the color.
///
/// @param {Color} $color [$black] - Color to use for the minus image.
@mixin background-minus($color: $black, $size: 15px 15px) {
  $svg: "<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='15' height='15' viewBox='0 0 15 15'><path d='M12.1,8.5H2.9C2.4,8.5,2,8.1,2,7.6V7.4c0-0.5,0.4-0.9,0.9-0.9h9.2c0.5,0,0.9,0.4,0.9,0.9v0.2 C13,8.1,12.6,8.5,12.1,8.5z' style='fill: #{color-to-rgb($color)}'/></svg>";

  background-image: url(svg-encode($svg));
  background-size: $size;
}

/// Adds a dot as a background image to an element. The image is formatted as an SVG, making it easy to change the color.
///
/// @param {Color} $color [$black] - Color to use for the check image.
@mixin background-dot($color: $black, $size: 15px 15px) {
  $svg: "<svg xmlns='http://www.w3.org/2000/svg' version='1.1'  width='15' height='15' viewBox='0 0 15 15'><circle cx='7.5' cy='7.5' r='3.5' style='fill: #{color-to-rgb($color)}'/></svg>";

  background-image: url(svg-encode($svg));
  background-size: $size;
}

@import 'forms/fieldset';
@import 'forms/label';

@mixin forms() {

  @include form-fieldset;
  @include form-label;

  label.middle {
    $input-border-width: get-value($input-border, width);
    margin: 0 0 $form-spacing;
    padding: ($input-padding + rem-calc($input-border-width)) 0;
  }

  %form-input-base {
    background-color: $input-background;
    border: $input-border;
    border-radius: $input-radius;
    box-shadow: $input-shadow;
    color: $input-color;
    display: block;
    font: {
      family: $input-font-family;
      size: $input-font-size;
      weight: $input-font-weight;
    }
    height: ($input-font-size + ($form-spacing * $base-line-height) - rem-calc(1));
    line-height: $input-line-height;
    margin: 0 0 $form-spacing;
    padding: $input-padding;
    width: 100%;

    @if has-value($input-transition) {
      transition: $input-transition;
    }
  }

  %form-input-focus {
    background-color: $input-background-focus;
    border: $input-border-focus;
    box-shadow: $input-shadow-focus;
    outline: none;
  }

  %form-input-disabled {
    background-color: $input-background-disabled;
    cursor: $input-cursor-disabled;
    opacity: $input-opacity-disabled;
  }

  [type="text"],
  [type="password"],
  [type="date"],
  [type="datetime"],
  [type="datetime-local"],
  [type="month"],
  [type="week"],
  [type="email"],
  [type="number"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="url"],
  [type="color"],
  textarea {
    @extend %form-input-base;

    // Focus state
    &:focus {
      @extend %form-input-focus;
    }

    // Placeholder text
    &::placeholder {
      color: $input-placeholder-color;
    }

    // Disabled/readonly state
    &:disabled,
    &[readonly] {
      @extend %form-input-disabled;
      user-select: none;
    }

    // Hide the clear icon shown in newer IE versions
    &::-ms-clear {
      display: none;
    }
  }

  textarea {
    height: auto;
    min-height: 50px;
  }

  select {
    @extend %form-input-base;
    appearance: none;

    @if $select-triangle-color != transparent {
      @include background-triangle($select-triangle-color);
      background-origin: content-box;
      background-position: $base-right (-$form-spacing) center;
      background-repeat: no-repeat;
      padding-#{$base-right}: ($form-spacing * 1.5);
    }

    &:focus {
      @extend %form-input-focus;
    }

    // Disabled state
    &:disabled {
      @extend %form-input-disabled;
    }

    // Hide the dropdown arrow shown in newer IE versions
    &::-ms-expand {
      display: none;
    }

    &[multiple] {
      height: auto;
      background-image: none;
      padding: $input-padding;
    }
  }

  // custom checkbox and radio styles
  [type='checkbox'],
  [type='radio'] {
    height: 0;
    position: absolute;
    clip: rect(0, 0, 0, 0);

    + label {
      align-items: baseline;
      display: inline-flex;
      flex-direction: row;
      margin: 0 $form-spacing $form-spacing 0;
      padding: $input-padding 0;

      &[for] {
        cursor: pointer;
      }

      &:empty,
      &:empty::before {
        margin-right: 0;
      }

      &::before {
        background: {
          color: $input-background;
          position: center center;
          repeat: no-repeat;
        }
        content: '';
        display: inline-flex;
        min-width: 15px;
        min-height: 15px;
        border: $input-border;
        margin-right: $form-spacing / 2;
      }
    }

    &:disabled + label {
      @extend %form-input-disabled;
      user-select: none;

      &[for] {
        cursor: default;
      }
    }
  }

  // custom checkbox styles (different from shared style)
  [type='checkbox'] {

    + label::before {
      border-radius: $input-radius;
    }

    &:checked + label {

      &:before {
        @include background-check($color: $primary-color);
      }
    }

    &:indeterminate + label {

      &:before {
        @include background-minus($color: $primary-color);
      }
    }
  }

  // custom radio styles (different from shared style)
  [type='radio'] {

    + label::before {
      border-radius: 50%;
    }

    &:checked + label {

      &:before {
        @include background-dot($color: $primary-color);
      }
    }
  }

  // Normalize file input width
  [type='file'] {
    width: 100%;
  }

  [type='submit'] {
    @include button-style($primary-color, auto, auto);
  }

  // Checkbox toggle
  .toggle {

    + label {
      cursor: pointer;
      position: relative;
      padding-left: $toggle-label-gutter;
      margin: 0 0 $form-spacing;

      &::before,
      &::after {
        @include beforeafter();
        transition: $toggle-transition;
      }

      &::before {
        background: $grey;
        border: none;
        border-radius: rem-calc(1000);
        height: $toggle-height;
        left: 0;
        width: $toggle-width;
        z-index: 1;
      }

      &::after {
        background: $toggle-button-background;
        border-radius: 50%;
        box-shadow: $toggle-button-shadow;
        height: $toggle-button-height;
        left: $toggle-height * ((1 - $toggle-button-factor) / 2);
        top: -($toggle-button-height / 2) + $input-padding + ($toggle-height / 2);
        width: $toggle-button-width;
        z-index: 2;
      }
    }

    &:checked {

      + label {

        &::before {
          background: {
            color: $toggle-background-checked;
            image: none;
          }
        }

        &::after {
          left: $toggle-width - $toggle-height * (1 - ((1 - $toggle-button-factor) / 2));
        }
      }
    }

    &:disabled + label {

      &::before,
      &::after {
        @extend %form-input-disabled;
      }
    }
  }

  // Input group
  .input-group {
    align-items: stretch;
    display: flex;
    width: 100%;
    margin-bottom: $form-spacing;

    // Default / Reset  style for children.
    %input-group-child {
      margin: 0;
      white-space: nowrap;
      flex: 0 1 auto;
    }

    > label {
      @extend %input-group-child;
      align-items: center;
      background-color: $input-group-label-background;
      display: flex;
      padding: $input-group-label-padding;
    }

    > input {
      @extend %input-group-child;
      border-radius: 0;
    }

    > button,
    > .button {
      @extend %input-group-child;
    }

    > .button-group {
      @extend %input-group-child;

      > :first-child {
        border-radius: 0;
      }
    }

    > .dropdown {
      display: flex;
      align-items: stretch;

      > button,
      > .button {
        @extend %input-group-child;
        border-radius: 0 $input-radius $input-radius 0;
      }
    }

    > :first-child {
      border-radius: $input-radius 0 0 $input-radius;
    }

    > :last-child {
      border-radius: 0 $input-radius $input-radius 0;
    }
  }

  // Help text
  .help-text {
    color: $help-text-color;
    display: block;
    font: {
      size: $help-text-font-size;
      style: $help-text-font-style;
      weight: $help-text-font-weight;
    }
    margin-top: $help-text-margin * -1;
    padding: 0 $help-text-margin;
  }

  // Error styles for help / hint text.
  .error-text,
  .success-text {
    display: none;
    font: {
      size: $error-text-font-size;
      style: $error-text-font-style;
      weight: $error-text-font-weight;
    }
    margin-top: $form-spacing * -1;
  }

  .error {
    color: $error-text-color;

    [type="text"],
    [type="password"],
    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="month"],
    [type="week"],
    [type="email"],
    [type="number"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="url"],
    [type="color"],
    textarea,
    select {
      border-color: $error-text-color;

      &::placeholder {
        color: $error-text-color;
      }
    }

    .error-text {
      display: block;
    }
  }

  .success {
    color: $success-text-color;

    [type="text"],
    [type="password"],
    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="month"],
    [type="week"],
    [type="email"],
    [type="number"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="url"],
    [type="color"],
    textarea,
    select {
      border-color: $success-text-color;
    }

    .success-text {
      color: inherit;
      display: block;
    }
  }

  %form-reset-no-margin {
    margin-top: $help-text-margin;
  }

  .error > .no-margin + .error-text,
  .success > .no-margin + .success-text {
    @extend %form-reset-no-margin;
  }

  @each $breakpoint in map-keys($breakpoints) {
    @if $breakpoint != sl-first(map_keys($breakpoints)) {
      .error > .#{$breakpoint}-.no-margin + .error-text,
      .success > .#{$breakpoint}-.no-margin + .success-text {
        @extend %form-reset-no-margin;
      }
    }
  }
}
