/// Global spacing for form elements.
///
/// @type Number
$form-spacing: $base-margin !default;

/// Default padding between the legend text and fieldset border.
///
/// @type Number
$legend-padding: rem-calc(0 3) !default;

/// Background color of text inputs.
///
/// @type Color
$input-background: $white !default;

/// Background color of focused of text inputs.
///
/// @type Color
$input-background-focus: $white !default;

/// Font color of text inputs.
///
/// @type Color
$input-color: $black !default;

/// Border around text inputs.
///
/// @type Border
$input-border: 1px solid $grey !default;

/// Border around focused text inputs.
///
/// @type Color
$input-border-focus: 1px solid $primary-color !default;

/// Radius for text inputs.
///
/// @type Border
$input-radius: $base-radius !default;

/// Font family of text inputs.
///
/// @type Font
$input-font-family: inherit !default;

/// Font size of text inputs.
///
/// @type Number
$input-font-size: rem-calc(16) !default;

/// Font weight of text inputs.
///
/// @type Keyword | Number
$input-font-weight: $base-font-weight-normal !default;

/// Box shadow inside text inputs when not focused.
///
/// @type Shadow
$input-shadow: unset !default;

/// Box shadow outside text inputs when focused.
///
/// @type Shadow
$input-shadow-focus: unset !default;

/// Properties to transition on text inputs.
///
/// @type Transition
$input-transition: border-color .2s ease-in-out !default;

/// Font color of placeholder text within text inputs.
///
/// @type Color
$input-placeholder-color: $grey !default;

/// Background color of disabled text inputs.
///
/// @type Color
$input-background-disabled: $grey !default;

/// Cursor to use when hovering over a disabled text input.
///
/// @type Cursor
$input-cursor-disabled: not-allowed !default;

// @todo
$input-opacity-disabled: $base-opacity-disabled !default;

/// Background color for select menus.
///
/// @type Color
$select-background: $white !default;

/// Color of the dropdown triangle inside select menus. Set to `transparent` to remove it entirely.
///
/// @type Color
$select-triangle-color: $grey !default;

/// Default radius for select menus.
///
/// @type Color
$select-radius: $base-radius !default;

/// Color for form labels.
///
/// @type Color
$form-label-color: $black !default;

/// Font size for form labels.
///
/// @type Number
$form-label-font-size: rem-calc(14) !default;

/// Font weight for form labels.
///
/// @type Keyword | Number
$form-label-font-weight: $base-font-weight-normal !default;

/// Line height for form labels. The higher the number, the more space between the label and its input field.
///
/// @type Number
$form-label-line-height: 1.8 !default;

/// Color for help text.
///
/// @type Color
$help-text-color: $black !default;

/// Font size for help text.
///
/// @type Number
$help-text-font-size: rem-calc(13) !default;

/// Font style for help text.
///
/// @type Keyword
$help-text-font-style: italic !default;

/// Font weight for help text.
///
/// @type Keyword | Number
$help-text-font-weight: $base-font-weight-normal !default;

/// Color for error text.
///
/// @type Color
$error-text-color: $danger-color !default;

/// Font size for error text.
///
/// @type Number
$error-text-font-size: rem-calc(13) !default;

/// Font style for error text.
///
/// @type Keyword
$error-text-font-style: italic !default;

/// Font weight for error text.
///
/// @type Keyword | Number
$error-text-font-weight: $base-font-weight-normal !default;

/// Font style for success text.
///
/// @type Color
$success-text-color: $success-color !default;

/// @type Number
$toggle-label-gutter: rem-calc(65) !default;

///
$toggle-background: $grey !default;

///
$toggle-background-checked: $primary-color !default;

/// @type Number
$toggle-height: rem-calc(25);

/// @type Number
$toggle-width: rem-calc(60);

///
$toggle-transition: background .3s ease, left .3s ease !default;

///
$toggle-circle-background: linear-gradient(transparent,rgba($black, .05)) $white !default;

/// Adds a downward-facing triangle as a background image to an element. The image is formatted as an SVG, making it easy to change the color. Because Internet Explorer doesn't support encoded SVGs as background images, a PNG fallback is also included.
/// There are two PNG fallbacks: a black triangle and a white triangle. The one used depends on the lightness of the input color.
///
/// @param {Color} $color [$black] - Color to use for the triangle.
@mixin background-triangle($color: $black) {
  $rgb: 'rgb%28#{round(red($color))}, #{round(green($color))}, #{round(blue($color))}%29';
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: #{$rgb}'></polygon></svg>");
}

@mixin forms() {

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  legend {
    max-width: 100%;
    margin-bottom: $form-spacing * 0.5;
  }

  label {
    color: $form-label-color;
    display: block;
    font: {
      size: $form-label-font-size;
      weight: $form-label-font-weight;
    }
    line-height: $form-label-line-height;

    &.middle {
      $input-border-width: get-value($input-border, width);

      margin: 0 0 $form-spacing;
      padding: ($form-spacing / 2 + rem-calc($input-border-width)) 0;
    }
  }

  %form-input-base {
    background-color: $input-background;
    border: $input-border;
    border-radius: $input-radius;
    box-shadow: $input-shadow;
    color: $input-color;
    display: block;
    font: {
      family: $input-font-family;
      size: $input-font-size;
      weight: $input-font-weight;
    }
    height: ($input-font-size + ($form-spacing * $base-line-height) - rem-calc(1));
    margin: 0 0 $form-spacing;
    padding: $form-spacing / 2;
    width: 100%;

    @if has-value($input-transition) {
      transition: $input-transition;
    }
  }

  %form-input-focus {
    background-color: $input-background-focus;
    border: $input-border-focus;
    box-shadow: $input-shadow-focus;
    outline: none;
  }

  %form-input-disabled {
    background-color: $input-background-disabled;
    cursor: $input-cursor-disabled;
    opacity: $input-opacity-disabled;
  }

  [type="text"],
  [type="password"],
  [type="date"],
  [type="datetime"],
  [type="datetime-local"],
  [type="month"],
  [type="week"],
  [type="email"],
  [type="number"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="url"],
  [type="color"],
  textarea {
    @extend %form-input-base;

    // Focus state
    &:focus {
      @extend %form-input-focus;
    }

    // Placeholder text
    &::placeholder {
      color: $input-placeholder-color;
    }

    // Disabled/readonly state
    &:disabled,
    &[readonly] {
      @extend %form-input-disabled;
      user-select: none;
    }
  }

  textarea {
    height: auto;
    min-height: 50px;
  }

  select {
    @extend %form-input-base;
    appearance: none;

    @if $select-triangle-color != transparent {
      @include background-triangle($select-triangle-color);
      background-origin: content-box;
      background-position: $base-right (-$form-spacing) center;
      background-repeat: no-repeat;
      background-size: 9px 6px;

      padding-#{$base-right}: ($form-spacing * 1.5);
    }

    &:focus {
      @extend %form-input-focus;
    }

    // Disabled state
    &:disabled {
      @extend %form-input-disabled;
    }

    // Hide the dropdown arrow shown in newer IE versions
    &::-ms-expand {
      display: none;
    }

    &[multiple] {
      height: auto;
      background-image: none;
      padding: ($form-spacing / 2);
    }
  }

  [type='file'],
  [type='checkbox'],
  [type='radio'] {
    margin: 0 0 $form-spacing;
  }

  // Styles for input/label siblings
  [type='checkbox'] + label,
  [type='radio'] + label {
    display: inline-block;
    vertical-align: baseline;

    margin-#{$base-left}: $form-spacing * 0.5;
    margin-#{$base-right}: $form-spacing;
    margin-bottom: 0;

    &[for] {
      cursor: pointer;
    }
  }

  // Normalize file input width
  [type='file'] {
    width: 100%;
  }

  // Submit
  [type="submit"] {
    @include button-style($primary-color, auto, auto);
  }

  // Checkbox toggle
  .toggle {
    display: none;

    + label {
      cursor: pointer;
      position: relative;
      padding-left: $toggle-label-gutter;
      margin: 0 0 $form-spacing;

      &::before {
        background: $grey;
        border-radius: rem-calc(1000);
        content: '';
        display: block;
        height: $toggle-height;
        left: 0;
        position: absolute;
        top: 0;
        transition: $toggle-transition;
        width: $toggle-width;
        z-index: 1;
      }

      &::after {
        background: $toggle-circle-background;
        border-radius: rem-calc(500);
        content: '';
        display: block;
        height: $toggle-height;
        left: 0;
        position: absolute;
        top: 0;
        transition: $toggle-transition;
        width: $toggle-height;
        z-index: 2;
      }
    }

    &:checked {

      + label {

        &::before {
          background-color: $toggle-background-checked;
        }

        &::after {
          left: $toggle-width - $toggle-height;
        }
      }
    }
  }

  // Input group
  .input-group {
    align-items: stretch;
    display: flex;
    width: 100%;
    margin-bottom: $form-spacing;
  }

  // Help text
  .help-text {
    color: $help-text-color;
    display: block;
    font: {
      size: $help-text-font-size;
      style: $help-text-font-style;
      weight: $help-text-font-weight;
    }
    margin-top: $form-spacing * -1;
  }

  // Error styles for help / hint text.
  .error-text {
    color: $error-text-color;
    display: none;
    font: {
      size: $error-text-font-size;
      style: $error-text-font-style;
      weight: $error-text-font-weight;
    }
    margin-top: $form-spacing * -1;
  }

  .error {
    color: $error-text-color;

    [type="text"],
    [type="password"],
    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="month"],
    [type="week"],
    [type="email"],
    [type="number"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="url"],
    [type="color"],
    textarea {
      border-color: $error-text-color;

      &::placeholder {
        color: $error-text-color;
      }
    }

    .help-text {
      color: inherit;
    }

    .error-text {
      display: block;
    }
  }

  .success {
    color: $success-text-color;

    [type="text"],
    [type="password"],
    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="month"],
    [type="week"],
    [type="email"],
    [type="number"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="url"],
    [type="color"],
    textarea {
      border-color: $success-text-color;
    }

    .help-text {
      color: inherit;
    }
  }
}
