/// Padding for the top bar.
///
/// @type Number
$top-bar-padding: 0 !default;

/// Background color for the top bar. This color also cascades to menus within the top bar.
///
/// @type Color
/// @todo Use mix function instead of ligthen. - https://github.com/sass/sass/issues/598
$top-bar-background: lighten($grey, 10%) !default;

/// Padding for the top bar.
///
/// @type Number
$top-bar-title-padding: rem-calc(10) !default;

/// Background color submenus within the top bar. Useful if $top-bar-background is transparent.
///
/// @type Color
$top-bar-submenu-background: $top-bar-background !default;

@mixin top-bar-base(
  $padding: $top-bar-padding,
  $background: $top-bar-background,
  $submenu-background: $top-bar-submenu-background
) {
  align-items: stretch;
  display: flex;
  padding: $padding;

  &,
  ul {
    background-color: $background;
  }

  @if ($background != $submenu-background) {
    ul ul {
      background-color: $submenu-background;
    }
  }
}

@mixin top-bar-title(
  $padding: $top-bar-title-padding
) {
  flex: 0 1 auto;
  padding: $padding;
}

@mixin top-bar-container {
  align-items: stretch;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@mixin top-bar {

  .top-bar {
    @include top-bar-base;
  }

  .top-bar-title {
    @include top-bar-title;
  }

  .top-bar-container {
    @include top-bar-container;
  }
}
