/// Default border around custom fieldsets.
///
/// @type Border
$form-fieldset-border: 1px solid $grey !default;

/// Default padding inside custom fieldsets.
///
/// @type Number
$form-fieldset-padding: rem-calc(16) !default;

/// Default margin around custom fieldsets.
///
/// @type Number
$form-fieldset-margin: rem-calc(18 0) !default;

/// Default margin below the legend text.
///
/// @type Number
$form-fieldset-legend-margin: rem-calc(8) !default;

/// Default padding between the legend text and fieldset border.
///
/// @type Number
$form-fieldset-legend-padding: rem-calc(0 3) !default;

@mixin fieldset-base(
  $border: $form-fieldset-border,
  $margin: $form-fieldset-margin,
  $padding: $form-fieldset-padding,
  $legend-margin: $form-fieldset-legend-margin,
  $legend-padding: $form-fieldset-legend-padding
) {
  border: $border;
  margin: $margin;
  padding: $padding;

  legend {
    margin: 0;
    margin-#{$base-left}: rem-calc(-3);
    margin-bottom: $legend-margin;
    padding: $legend-padding;
    background: $base-background;
  }
}

@mixin form-fieldset {
  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  legend {
    max-width: 100%;
    margin-bottom: $form-fieldset-legend-margin;
  }

  .fieldset {
    @include fieldset-base;
  }
}
